{% extends 'base.html.twig' %}

{% form_theme filterGamesForm 'form/horizontal.html.twig' %}

{% block title %}Games of everyone{% endblock %}

{% block main %}
    {% set sortedUsers = users|sort((a, b) => a.username <=> b.username) %}

    <div class="card">
        {{ form(filterGamesForm) }}
    </div>

    <div class="card">
        <table id="all_games" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td>Game</td>
                    <td>Price</td>
                    <td>Tags</td>
                    {% for user in sortedUsers %}
                        <td user="{{ user.id }}" title="{{ user.name }}">{{ user.pseudo|default(user.name) }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for game in games|sort((a, b) => a.name <=> b.name) %}
                    <tr game="{{ game.name }}" tags="{{ game.tags |map((tag) => tag.id) |json_encode }}">
                        <td>{{ game.name }}</td>
                        <td align="right">{{ game.price ? game.price |number_format(2, '.') : '-.--' }} €</td>
                        <td>
                            {%- for tag in game.tags -%}
                                {%- if tag.emoji -%}
                                    <span class="tag-emoji">{{ tag.emoji }}</span>
                                {%- endif -%}
                                <span  filter-tag="{{ tag.id }}" title="Filter on this tag">
                                    {{- tag.name -}}
                                </span>
                                {%- if not loop.last -%}, {% endif -%}
                            {%- endfor -%}
                        </td>
                        {% for user in sortedUsers %}
                            {% set hasGame = user has game %}
                            <td user="{{ user.id }}" has="{{ hasGame ? 'true' : 'false' }}" class="{{ hasGame ? 'positive' : 'neutral' }}"><span class="emoji">{{ hasGame ? '✔️' : '✖️' }}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
