{% extends 'base.html.twig' %}

{% form_theme filterGamesForm 'form/horizontal.html.twig' %}

{% block main %}
    {% set sortedUsers = users|sort((a, b) => a.username <=> b.username) %}

    <div class="card">
        {{ form(filterGamesForm) }}
    </div>

    <div class="card">
        <table id="all_games" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td>Game</td>
                    {% for user in sortedUsers %}
                        <td>{{ user.username }}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for game in games|sort((a, b) => a.name <=> b.name) %}
                    <tr game="{{ game.name }}" tags="{{ game.tags |map((tag) => tag.id) |json_encode }}">
                        <td>{{ game.name }}</td>
                        {% for user in sortedUsers %}
                            <td class="{{ user has game ? 'positive' : 'neutral' }}">{{ user has game ? 'Yep' : 'Nope' }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
