{% extends 'base.html.twig' %}

{% block title %}My games{% endblock %}

{% block main %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Tags</td>
                    <td>Actions</td>
                </tr>
            </thead>
            {% for game in app.user.games|sort((a, b) => a.name <=> b.name) %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td align="right">
                        {{ game.price ? game.price |number_format(2, '.') : '-.--' }} €
                        <a class="edit-button" href="{{ path('edit_game_price', {id: game.id}) }}" title="Edit price">🖍️</a>
                    </td>
                    <td>
                        {%- for tag in game.tags -%}
                            {%- if tag.emoji -%}
                                <span class="tag-emoji">{{ tag.emoji }}</span>
                            {%- endif -%}
                            {{ tag.name }}
                            {%- if not loop.last -%}, {% endif -%}
                        {%- endfor -%}
                        <a class="edit-button" href="{{ path('edit_game_tags', {id: game.id}) }}" title="Edit tags">🖍️</a>
                    </td>
                    <td>
                        {{ render(controller('\\App\\Controller\\RemoveUserGameController', {game: game})) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card">
        {{ form(addGamesForm) }}
    </div>
{% endblock %}

