{% extends 'base.html.twig' %}

{% block title %}My games{% endblock %}

{% block main %}
    <div class="card">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Tags</td>
                    <td>Actions</td>
                </tr>
            </thead>
            {% for game in app.user.games|sort((a, b) => a.name <=> b.name) %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>
                        {%- for tag in game.tags -%}
                            {%- if tag.emoji -%}
                                <span class="tag-emoji">{{ tag.emoji }}</span>
                            {%- endif -%}
                            {{ tag.name }}
                            {%- if not loop.last -%}, {% endif -%}
                        {%- endfor -%}
                    </td>
                    <td>
                        <div class="button-bar">
                            <a class="button" href="{{ path('edit_game_tags', {id: game.id}) }}">Edit tags</a>
                            {{ render(controller('\\App\\Controller\\RemoveUserGameController', {game: game})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="card">
        {{ form(addGamesForm) }}
    </div>
{% endblock %}

